.col-table-main-01 {
    width: 10%!important;
}
.col-table-main-02 {
    width: 30%!important;
}
.col-table-main-03 {
    width: 5%!important;
}
.col-table-main-04 {
    width: 40%!important;
}
.col-table-main-05 {
    width: 5%!important;
}
.col-table-main-06 {
    width: 5%!important;
}
.col-table-main-07 {
    width: 5%!important;
}
.col-table {
    text-align: center!important;
}